.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #c77056;
}

.footer {
  background-color: #c77056;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Increased gap */
  margin-top: 70px; /* Added margin top */
}

.button-box {
  width: 200px; /* Increased button box width */
  height: 120px; /* Increased button box height */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-box button:hover {
  background-color: #45a049;
}

.table-container {
  margin: 20px auto; /* Center the table horizontally */
  max-width: 800px; /* Limit the width of the table */
}

.blood-table {
  width: 100%; /* Set table width to 100% */
  border-collapse: collapse; /* Collapse borders between cells */
}

.blood-table th,
.blood-table td {
  padding: 8px 12px; /* Add padding to table cells */
  border: 1px solid #dddddd; /* Add border to table cells */
  text-align: left; /* Align text to the left */
}

.blood-table th {
  background-color: #f2f2f2; /* Set background color for table header */
  color: #333; /* Set text color for table header */
}

.blood-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Set background color for even rows */
}

.navbar-links {
  display: flex; /* Use flexbox for layout */
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  display: inline-block; /* Display links inline */
  border: 1px solid transparent; /* Add border */
  padding: 8px 12px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  font-weight: bold;
}

.nav-link:hover {
  color: #ff0000;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.popup-inner h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.popup-inner ul {
  list-style-type: none;
  padding: 0;
}

.popup-inner ul li {
  margin-bottom: 10px;
}

.popup-inner button {
  padding: 10px 20px;
  background-color: #f44336; /* Red color for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-inner button:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}


